/* ************************************************************************** */
/* FOOTER Sections ********************************************************** */
/* ************************************************************************** */

/* footer 1 ***************************************************************** */
.footer-1 {
  background: url('../images/footer-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    @include isMedium {
      grid-template-columns: 2fr 1fr;
      row-gap: 0;
      grid-gap: 1rem;
    }

    @include isRetina {
      grid-template-columns: 1fr max-content;
    }

    .col-left {
      border-bottom: 1px solid $color-white;

      @include isMedium {
        border-bottom: none;
        border-right: 1px solid $color-white;
        justify-self: flex-end;
        padding-right: 1rem;
      }

      @include isLarge {
        padding-right: 4rem;
      }
    }

    .col-right {
      @include isLarge {
        padding-left: 4rem;
      }

      @include isRetina {
        justify-self: flex-end;
      }
    }
  }
}

/* footer 2 ***************************************************************** */
.footer-2 {
  background-color: $color-dark;
  width: 100%;
  padding: 0.6rem 20px;
  min-height: 50px;
  display: flex;
  align-items: center;

  .containerish {
    display: grid;
    align-items: center;

    @include isMedium {
      grid-template-columns: 1fr max-content;
    }


    .col-left {
      display: none;

      @include isMedium {
        display: inline-flex;
      }
    }

    .col-right {
      .topbar-link {
        // color: $color-white;
      }

      .topbar-link:not(:last-child) {
        margin-right: .5rem;
      }

      .small-footer-link:hover,
      .topbar-link:hover {
        color: $color-main;
        text-decoration: none !important;
      }

    }
  }
}