/* ************************************************************************** */
/* Links ******************************************************************** */
/* ************************************************************************** */

/* Topbar ******************************************************************* */
.topbar-link {
  font-family: $font-secondary;
  font-size: 12px;
  // font-weight: 700;
  line-height: 1rem;
  color: $color-white;
  @include linkFade;

  &:hover {
    color: $color-light-accent;
    text-decoration: none;
    @include linkFade;
  }
}

/* Navbar ******************************************************************* */

.nav-link {
  font-family: $font-secondary !important;
  color: $color-dark !important;
  font-size: 0.875rem !important;
  @include linkFade;

  &:hover {
    color: $color-main !important;
    text-decoration: none;
    @include linkFade;
  }

  @include isXLarge {
    margin-right: 0;
    padding: 0 !important;
  }
}

/* General Page Links ******************************************************* */
.gen-page-link {
  @extend .body-copy;
  color: $color-light-accent;

  &:hover {
    text-decoration: none;
    color: $color-light-accent;
  }
}

.appointment-page-link {
  @extend h5;
  color: $color-light-accent;

  &:hover {
    text-decoration: none;
    color: $color-dark;
  }
}

/* Footer Links ************************************************************* */
.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
  }
}

.footer-nav-link {
  font-size: 1rem; // 16px
  line-height: calc(1rem * 1.5);
  font-family: $font-primary;
  color: $color-white;
  @include linkFade;

  &:hover {
    color: $color-light-accent;
    text-decoration: none;
    @include linkFade;
  }
}

.footer-link {
  @extend .body-copy;
  color: $color-white;
  @include linkFade;

  &:hover {
    color: $color-light-accent;
    text-decoration: none;
    @include linkFade;
  }
}

.small-footer-link {
  @extend .small-copy;
  color: $color-white;
  @include linkFade;

  &:hover {
    color: $color-main;
    @include linkFade;
  }
}