/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */


/* hero ********************************************************************* */
.hero {
  background: url('../../images/hero-bg@2x.jpg') left center / cover;
  height: 75vh;
  display: flex;
  align-items: center;
  padding: 40px 20px;

  @include isMedium {
    background-position: center center;
  }

  @include isLarge {
    height: 800px;
  }

  @include isXLarge {
    height: 100vh;
  }


  .containerish {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s ease-out;
    // background: red;

    .section-info {
      margin-top: 0;
      // background: red;

      @include isMedium {
        margin-top: 6rem;
      }

      @include isLarge {
        width: 600px;

        &.active {
          opacity: 0;
          transition: all .3s ease-out;
        }
      }

      @include isXLarge {
        margin-top: 15rem;
      }

      .section-title:nth-child(2) {
        color: white;
        font-family: $font-primary;
        font-size: 19px;
        font-weight: 900;
        border: 1px solid $color-white;
        display: inline-block;
        padding: .2rem .4rem;
        margin-top: 1rem;
        margin-bottom: 0;
        position: relative;

        @include isMedium {
          letter-spacing: .5rem;
        }

      }

      .section-title:nth-child(3) {
        color: white;
        font-family: $font-primary;
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: .5rem;
        font-variant-caps: all-small-caps;

        @include isMedium {
          letter-spacing: .3rem;
        }
      }

      .section-title:nth-child(4) {
        color: white;
        font-family: $font-primary;
        font-size: 27px;
        font-weight: 700;
        margin-top: 0;
        margin-top: 0;
        font-variant-caps: all-small-caps;

        @include isMedium {
          letter-spacing: .5rem;
        }
      }

      .section-icons {
        // background: green;
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        // position: absolute;
        // bottom: 15%;
        // left: 50%;
        // transform: translateX(-50%);
        // width: calc(100% - 40px);

        @include isMedium {
          margin-top: 6rem;
        }

        @include isLarge {
          width: 80%;
        }

        @include isXLarge {
          margin-top: 10rem;
        }

        img {
          width: 15%;
        }
      }
    }
  }
}

/* doc for you ************************************************************** */
.docforyou {
  min-height: 300px;
}

/* about us ***************************************************************** */
.aboutus {
  background: url('../../images/aboutus-bg@2x.jpg') center / cover;

  @include isXLarge {
    padding: 3rem 0;
  }

  @include isRetina {
    padding: 6rem 0;
  }

  .containerish {
    background: rgba($color-white, .95);
    padding: 40px 20px;

    @include isXLarge {
      padding: 40px 4rem;
    }

    @include isRetina {
      padding: 4rem;
    }

    h2 {
      text-align: center;

      @include isXLarge {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          border-top: 1px solid $color-main;
          width: 350px;
          bottom: 5px;
        }

        &::before {
          content: '';
          position: absolute;
          border-top: 1px solid $color-main;
          width: 350px;
          left: 0px;
          bottom: 5px;
        }
      }
    }

    .section-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        @include isMedium {
          column-count: 2;
        }

        @include isLarge {
          column-gap: 40px;
        }
      }
    }
  }
}

/* cellulite erase ********************************************************** */
.cellulite-erase {
  background: url('../../images/cellulite-bg@2x.jpg') center / cover;
  padding: 40px 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-light, 1);
  }

  @include isMedium {
    background-position: left top;

    &::before {
      background: transparent;
    }
  }

  @include isXLarge {
    width: calc(100% - 40px);
    margin: 20px auto;
  }

  @include isRetina {
    margin: 40px auto;
  }

  .containerish {
    display: flex;
    align-items: center;

    @include isMedium {
      height: 650px;
      align-items: flex-end;
    }

    @include isRetina {
      height: 847px;
    }

    .section-info {
      z-index: 40;

      @include isMedium {
        max-width: 605px;
      }

      @include isRetina {
        margin-bottom: 4rem;
      }
    }
  }
}

/* wrinkle and crepe ******************************************************** */
.wrinkle-crepe {
  background: url('../../images/erase-bg@2x.jpg') center / cover;
  display: flex;
  align-items: flex-end;

  // padding: 40px 20px;
  @include isLarge {
    height: 900px;
  }

  @include isRetina {
    height: 1015px;
  }

  .containerish {
    display: grid;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    @include isXLarge {
      margin-bottom: 4rem;
    }

    @include isRetina {
      column-gap: 2rem;
    }

    .col-left,
    .col-right {
      background: rgba($color-main, .8);
      padding: 20px;

      @include isMedium {
        padding: 2rem 20px;
      }

      @include isXLarge {
        padding: 2rem;
      }

      @include isRetina {
        padding: 2.5rem;
      }
    }
  }
}

/* fat and age spots ******************************************************** */
.fat-age {
  background: url('../../images/fat-erase-bg@2x.jpg') center / cover;
  display: flex;
  align-items: flex-end;

  // padding: 40px 20px;
  @include isLarge {
    height: 900px;
  }

  @include isRetina {
    height: 1015px;
  }

  .containerish {
    display: grid;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    @include isXLarge {
      margin-bottom: 4rem;
    }

    @include isRetina {
      column-gap: 2rem;
    }

    .col-left,
    .col-right {
      background: rgba($color-main, .8);
      padding: 20px;

      @include isMedium {
        padding: 2rem 20px;
      }

      @include isXLarge {
        padding: 2rem;
      }

      @include isRetina {
        padding: 2.5rem;
      }
    }
  }
}

/* bio and saggy ************************************************************ */
.bio-saggy {
  background: url('../../images/bio-saggy-bg@2x.jpg') center / cover;
  padding: 40px 20px 0 20px;

  .bio {
    margin-bottom: 1rem;

    @include isMedium {
      margin-bottom: 2rem;
    }

    .containerish {
      display: grid;

      @include isMedium {
        grid-template-columns: 75%;
        justify-content: center;
        row-gap: 1rem;
      }

      @include isLarge {
        grid-template-columns: 1fr 2fr;
        row-gap: 0;
        column-gap: 2rem;
        align-items: center;
      }

      @include isXLarge {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
      }

      .col-left {
        display: grid;
        justify-content: flex-start;
      }
    }

  }

  .saggy-skin {
    .containerish {
      display: grid;

      @include isMedium {
        grid-template-columns: 75%;
        justify-content: center;
        row-gap: 1rem;
      }

      @include isLarge {
        grid-template-columns: 1.5fr 1fr;
        row-gap: 0;
        column-gap: 2rem;
        align-items: center;
      }

      @include isXLarge {
        grid-template-columns: 1fr 1fr 400px;
        // column-gap: 4rem;
      }

      .col-left {
        display: grid;
        justify-content: flex-start;

        .body-copy {
          @include isXLarge {
            max-width: 600px;
          }
        }

        @include isXLarge {
          grid-column: 1 / 3;
          grid-row: 1;
        }
      }

      .col-right {
        @include isXLarge {
          grid-column: 2 / -1;
          grid-row: 1;
        }

        img {
          @include isXLarge {
            position: relative;
            right: -50px;
          }
        }
      }
    }
  }
}

/* consultation ************************************************************* */
.consultation {
  background: url('../../images/appointment-bg@2x.jpg');
  padding: 40px 20px;

  @include isMedium {
    padding: 60px 20px;
  }

  .containerish {
    .section-info {
      h2 {
        text-align: center;

        @include isXLarge {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            border-top: 1px solid $color-main;
            width: 170px;
            bottom: 5px;
          }

          &::before {
            content: '';
            position: absolute;
            border-top: 1px solid $color-main;
            width: 170px;
            left: 115px;
            bottom: 5px;
          }
        }
      }
    }

    .consult-form {
      display: grid;
      row-gap: .5rem;

      @include isMedium {
        margin-top: 2.5rem;
        grid-template-columns: 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 2rem;
      }

      @include isLarge {
        max-width: 715px;
        margin: 0 auto;
      }

      .form-control {
        border-radius: 0;
      }

      button {
        @include isMedium {
          grid-column: 1 / -1;
          justify-self: center;
        }

        @include isLarge {
          // justify-self: center;
        }
      }
    }
  }
}